<html>
    <head>
        <title>Apples and oranges</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
        <link href="assets/default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/fonts.css" rel="stylesheet" type="text/css" media="all" />
        <script src="assets/client-to-server.js"></script>
        <script src="assets/Sortable.js">
            var el = document.getElementById('items');
            var sortable = Sortable.create(el);
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-100880173-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>

<!-- HEADER -->
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1></span><a href="#">Apples and oranges</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/" accesskey="1" title="">Match up!</a></li>
				<li><a href="about" accesskey="2" title="">About</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- LISTS -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container">
			<div class="main-title">
				<h2>Can you pair up <%= first.title %> with <%= second.title %>?</h2>
				<span class="byline">They don't have anything in common... or do they?</span> </div>


			<div class="ebox1"> <!--<span class="fa fa-pagelines"></span>-->
				<div class="title">
					<h2 id="list-title-1"><%= first.title %></h2>
					<!--<span class="byline">AAA</span>-->
                    <div id="firstList" class="list-group">
                        <% for(var i=0; i < first.items.length; i++) { %>
                            <div class="list-group-item-1">
                                <!--<img src= "assets/img/<%= first.items[i] %>.png"/>-->
                                <%= first.items[i] %>
                            </div>
                        <% } %>
                    </div>
                </div>
				<!--<p>text</p>-->
            </div>
			<div class="ebox2">
				<div class="title">
					<h2 id="list-title-2"><%= second.title %></h2>
					<!--<span class="byline">BBB</span>-->
                    <div id="secondList">
                        <% for(var i=0; i < second.items.length; i++) { %>
                            <div class="list-group-item-2">
                                <!--<img src= "assets/img/<%= second.items[i] %>.png"/>-->
                                <%= second.items[i] %>
                            </div>
                        <% } %>
                    </div>
                </div>
				<!--<p>text</p>-->
            </div>
				
		</div>
        <!--<a href="#" class="button">Etiam posuere</a> </div>-->
        <form><button type="submit" class="button">Done</button></form>
	</div>
</div>

<!-- ADD SORTABLE CONTAINERS -->
<script language="javascript">
    var firstId = <%= firstId %>;
    var secondId = <%= secondId %>;
    var firstIndices = [];
    var secondIndices = [];
    for (var i=0; i < <%= first.items.length %>; i++) { 
        firstIndices.push(i);
        secondIndices.push(i);
    }

    Sortable.create(firstList, { 
        animation: 150,
        onEnd: function (evt) {
            var temp = firstIndices[evt.newIndex];
            firstIndices[evt.newIndex] = firstIndices[evt.oldIndex];
            firstIndices[evt.oldIndex] = temp;
            console.log(firstIndices);
        }
    });
    Sortable.create(secondList, { 
        animation: 150,
        onEnd: function (evt) {
            var temp = secondList[evt.newIndex];
            secondList[evt.newIndex] = secondList[evt.oldIndex];
            secondList[evt.oldIndex] = temp;
        }
    });
</script>

<!-- FOOTER -->
<div id="copyright" class="container">
    <p>&copy; 2017 Marcus Näslund. All rights reserved. | <a href="about">What is this?</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

        
    </body>
</html>