<html>
    <head>
        <title>Apples and oranges</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
        <link href="assets/skeleton.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/main.css" rel="stylesheet" type="text/css" media="all" />
        <script src="assets/client-to-server.js"></script>
        <script src="assets/Sortable.js">
            var el = document.getElementById('items');
            var sortable = Sortable.create(el);
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-100880173-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>

<!-- HEADER -->
<div id="header">
<div class="container">
    <div class="row">
        <div class="eight columns">
            <h3><strong>Apples and oranges</strong></h3>
        </div>
        <div class="two columns">
            <form action="/">
                <input class="button-primary" type="submit" value="Match up!">
            </form>
        </div>
        <div class="two columns">
            <form action="/about">
                <input class="button" type="submit" value="About">
            </form>
        </div>
    </div>
</div>
</div>

<!-- CONTENT -->
<div id="content">
<div class="container">
    <div class="row" id="info">
        <!--<h3>Can you pair up <%= first.title %> with <%= second.title %>?</h3>-->
        <h3>Can you pair up these two sets?</h3>
        <p>They don't have anything in common... or do they? <strong>Drag to rearrange!</strong></p>
    </div>

    <div class="row">
        <div class="five columns" id="leftList">
            <h5><%= first.title %></h5>
            <div id="leftListContent">
                <% for(var i=0; i < first.items.length; i++) { %>
                    <div>
                        <!--<img src= "assets/img/<%= first.items[i] %>.png"/>-->
                        <%=i+1%>: <%= first.items[i] %>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="two columns" id="centerList">
            <h5>.</h5>

            <% for(var i=0; i < second.items.length; i++) { %>
                <div>
                    --- --- ---
                </div>
            <% } %>
        </div>
        <div class="five columns" id="rightList">
            <h5><%= second.title %></h5>
            <div id="rightListContent">
                <% for(var i=0; i < second.items.length; i++) { %>
                    <div>
                        <!--<img src= "assets/img/<%= second.items[i] %>.png"/>-->
                        <%=i+1%>: <%= second.items[i] %>
                    </div>
                <% } %>
            </div>
        </div>      
    </div>
    <div class="row">
        <div class="twelve columns" id="submit">
            <form id="toserver">
                </br>
                <button type="submit" class="button">Done!</button>
            </form>
        </div>
    </div>        
</div>
</div>

<!-- ADD SORTABLE CONTAINERS -->
<script language="javascript">
    var firstId = <%= firstId %>;
    var secondId = <%= secondId %>;
    var firstIndices = [];
    var secondIndices = [];
    for (var i=0; i < <%= first.items.length %>; i++) { 
        firstIndices.push(i);
        secondIndices.push(i);
    }

    Sortable.create(leftListContent, { 
        animation: 150,
        onEnd: function (evt) {
            var temp = firstIndices[evt.newIndex];
            firstIndices[evt.newIndex] = firstIndices[evt.oldIndex];
            firstIndices[evt.oldIndex] = temp;
        }
    });
    Sortable.create(rightListContent, { 
        animation: 150,
        onEnd: function (evt) {
            var temp = rightListContent[evt.newIndex];
            rightListContent[evt.newIndex] = rightListContent[evt.oldIndex];
            rightListContent[evt.oldIndex] = temp;
        }
    });
</script>

<!-- FOOTER -->
<div id="footer">
    <div class="container">
        <div class="row">
            &copy; 2017 Marcus Näslund. All rights reserved.
        </div>
    </div>
</div>
        
    </body>
</html>